<main class="login-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Register</div>
                    <div class="card-body">
                        <form action="/users/register" method="POST">
                            <div class="col-md-6 offset-md-4 ">
                                <% if (typeof message != 'undefined') { %>
                                    <div class="alert alert-warning" role="alert">
                                        <%= message %>
                                    </div>
                                <% } %>
                            </div>

                            <div class="form-group row">
                                <label for="name" class="col-md-4 col-form-label text-md-right">Name</label>
                                <div class="col-md-6">
                                    <input type="name" id="name" class="form-control" name="name" autofocus value="<%= typeof name != 'undefined' ? name : '' %>">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="email" class="col-md-4 col-form-label text-md-right">Email address</label>
                                <div class="col-md-6">
                                    <input type="email" id="email_address" class="form-control" name="email" autofocus value="<%= typeof email != 'undefined' ? email : '' %>">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                <div class="col-md-6">
                                    <input type="password" id="password" class="form-control" name="password" value="<%= typeof password != 'undefined' ? password : '' %>">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="passwordConfirm" class="col-md-4 col-form-label text-md-right">Confirm your password</label>
                                <div class="col-md-6">
                                    <input type="password" id="passwordConfirm" class="form-control" name="passwordConfirm" value="<%= typeof passwordConfirm != 'undefined' ? passwordConfirm : '' %>">
                                </div>
                            </div>

                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    Register
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>